@{
    Layout = null;
    <style>
        .btn-item {
            background-color: #d8c4c4;
        }
    </style>
}
<div class="navbar-more-overlay"></div>

<nav class="navbar navbar-default navbar-fixed-top animate visible-xs visible-sm">

    <div class="container navbar-more visible-xs">
        <ul class="nav navbar-nav">
            <li>
                @using (Ajax.BeginForm("BookSearch", "Library", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "BuscarBibliotecaOk", OnFailure = "BuscarBibliotecaFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }))
                {
                    <button class="btn btn-block btn-default" type="submit">Biblioteca</button>
                }
            </li>
            <li>
                <button class="dropdown-toggle btn btn-block btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SSA &nbsp;<span class="menu-icon glyphicon glyphicon-chevron-down"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        @using (Ajax.BeginForm("RegistrationStatement", "Secretary", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "BuscarRegistrosDocumentosOk", OnFailure = "BuscarRegistrosDocumentosFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }))
                        {
                            <button class="btn btn-block btn-item" type="submit">Solicitar Documento</button>
                        }
                    </li>
                    <li>
                        @using (Ajax.BeginForm("RequestsTable", "Secretary", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "SolicitarDocumentosOk", OnFailure = "SolicitarDocumentosFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }))
                        {
                            <button class="btn btn-block btn-item" type="submit">Quadro de Solicitações</button>
                        }
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <button class="dropdown-toggle btn btn-block btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acadêmico &nbsp;<span class="menu-icon glyphicon glyphicon-chevron-down"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        @using (Ajax.BeginForm("RetornarQuadroDeHorarios", "InformacoesAcademicas", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "BuscarQuadroDeHorariosOk", OnFailure = "BuscarQuadroDeHorariosFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }))
                        {
                            <button class="btn btn-block btn-item" type="submit">Quadro de Horário</button>
                        }
                    </li>
                    <li>
                        @using (Ajax.BeginForm("RetornarQuadroDeNotasEFaltas", "InformacoesAcademicas", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "BuscarNotasEFaltasOk", OnFailure = "BuscarNotasEFaltasFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }))
                        {
                            <button class="btn btn-block btn-item" type="submit">Notas e Faltas</button>
                        }
                    </li>
                    <li>
                        @using (Ajax.BeginForm("RetornarGradeAcademica", "InformacoesAcademicas", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "BuscarGradeAcademicaOk", OnFailure = "BuscarGradeAcademicaFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }))
                        {
                            <button class="btn btn-block btn-item" type="submit">Grade Acadêmica</button>
                        }
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="navbar-header hidden-xs">
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <ul class="nav navbar-nav navbar-right mobile-bar">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <span class="menu-icon fa fa-home"></span>
                </a>
            </li>

            <li>
                <a href="#" onclick="$('#formularioCalendario').submit();">
                    <span class="menu-icon fa fa-calendar"></span>
                </a>
                @using (Ajax.BeginForm("RetornarCalendario", "Home", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "RetornarCalendarioOk", OnFailure = "RetornarCalendarioFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }, new{id="formularioCalendario"}))
                {
                }
            </li>

            <li>
                <a href="@Url.Action("Login","Account")">
                    <span class="menu-icon fa fa-power-off"></span>
                </a>
            </li>

            <li>
                <a href="#navbar-more-show">
                    <span class="menu-icon fa fa-bars"></span>
                </a>
            </li>
        </ul>

    </div>
</nav>