@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3>Grade Academica</h3>
    </div>
    <br />
    <div class="panel-body" style="max-width: 100%; overflow: scroll;">
        <table style="border-collapse: collapse; width: 100%" class="table table-bordered table-condensed table-responsive table-striped">
            <thead style="font-weight: bold;">
                <tr>
                    <td>Disciplina</td>
                    <td>Carga Horária</td>
                    <td>Nota Final</td>
                    <td>Período Letivo</td>
                    <td>Situação Final</td>
                    <td>Obs.</td>
                </tr>
            </thead>
            <tr>
                <td> Estatistica</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Metodologia da Pesquisa Cientifica</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Ingl&ecirc;s para Inform&aacute;tica</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Matem&aacute;tica</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Homem, Cultura e Sociedade</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Fundamentos de Programa&ccedil;&atilde;o e Algoritmos</td>
                <td>120</td>
                <td>10,0</td>
                <td>2014/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Arquitetura e Organiza&ccedil;&atilde;o de Computadores</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> L&oacute;gica Computacional</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Computador e Sociedade</td>
                <td>60</td>
                <td>10,0</td>
                <td>2014/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Estrutura de Dados</td>
                <td>120</td>
                <td>10,0</td>
                <td>2015/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Sistemas Operacionais</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Principios de Banco de dados</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Linguagem de Programa&ccedil;&atilde;o</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Programa&ccedil;&atilde;o Orientada a Objetos</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/2</td>
                <td>Reprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> An&aacute;lise Orientada a Objetos</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Redes de Computadores</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Banco de Dados I</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Fundamentos de Sistemas de Informa&ccedil;&atilde;o</td>
                <td>60</td>
                <td>10,0</td>
                <td>2015/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Programa&ccedil;&atilde;o Orientada a Objetos para Redes</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Projeto Orientado a Objetos</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Sistemas Distribuidos</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Banco de Dados II</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Administra&ccedil;&atilde;o</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/1</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Programa&ccedil;&atilde;o Orientada a Objetos para WEB</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/2</td>
                <td>Reprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Padr&otilde;es de Projeto</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Gest&atilde;o de Projetos</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Legisla&ccedil;&atilde;o e &Eacute;tica</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Gest&atilde;o da Informa&ccedil;&atilde;o</td>
                <td>60</td>
                <td>10,0</td>
                <td>2016/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Est&aacute;gio Supervisionado I</td>
                <td>100</td>
                <td>10,0</td>
                <td>2016/2</td>
                <td>Aprovado </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> T&oacute;picos Avan&ccedil;ados em Inform&aacute;tica I</td>
                <td>60</td>
                <td>Curs.</td>
                <td>2017/1</td>
                <td>Cursando </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Engenharia de Software</td>
                <td>60</td>
                <td>Curs.</td>
                <td>2017/1</td>
                <td>Cursando </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Interface Homem-Computador</td>
                <td>60</td>
                <td>Curs.</td>
                <td>2017/1</td>
                <td>Cursando </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> &Eacute;tica, Pol&iacute;tica e Sociedade</td>
                <td>60</td>
                <td>Curs.</td>
                <td>2017/1</td>
                <td>Cursando </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Gest&atilde;o de TI</td>
                <td>60</td>
                <td>Curs.</td>
                <td>2017/1</td>
                <td>Cursando </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Trabalho de Gradua&ccedil;&atilde;o I</td>
                <td>60</td>
                <td>Curs.</td>
                <td>2017/1</td>
                <td>Cursando </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Est&aacute;gio Supervisionado II</td>
                <td>100</td>
                <td>Curs.</td>
                <td>2017/1</td>
                <td>Cursando </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> T&oacute;picos Avan&ccedil;ados em Inform&aacute;tica II</td>
                <td>90</td>
                <td>-----</td>
                <td>-----</td>
                <td>A cursar </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Qualidade de Software</td>
                <td>60</td>
                <td>-----</td>
                <td>-----</td>
                <td>A cursar </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Inteligencia Artificial</td>
                <td>60</td>
                <td>-----</td>
                <td>-----</td>
                <td>A cursar </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Optativa</td>
                <td>30</td>
                <td>-----</td>
                <td>-----</td>
                <td>A cursar </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Seguran&ccedil;a e Auditoria de Sistemas</td>
                <td>60</td>
                <td>-----</td>
                <td>-----</td>
                <td>A cursar </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Trabalho de Gradu&ccedil;&atilde;o II</td>
                <td>100</td>
                <td>-----</td>
                <td>-----</td>
                <td>A cursar </td>
                <td>-----</td>
            </tr>
            <tr>
                <td> Atividades em Rede 1</td>
                <td>0</td>
                <td>Freq.</td>
                <td>2014/1</td>
                <td>Aprovado </td>
                <td>Disciplina extra-curricular</td>
            </tr>
            <tr>
                <td> Atividades em Rede 2</td>
                <td>0</td>
                <td>Freq.</td>
                <td>2014/2</td>
                <td>Aprovado </td>
                <td>Disciplina extra-curricular</td>
            </tr>
            <tr>
                <td> Atividades em Rede 3</td>
                <td>0</td>
                <td>Freq.</td>
                <td>2015/1</td>
                <td>Aprovado </td>
                <td>Disciplina extra-curricular</td>
            </tr>
            <tr>
                <td> Atividades em Rede 4</td>
                <td>0</td>
                <td>Freq.</td>
                <td>2015/2</td>
                <td>Aprovado </td>
                <td>Disciplina extra-curricular</td>
            </tr>
            <tr>
                <td> Atividades em Rede 5</td>
                <td>0</td>
                <td>Freq.</td>
                <td>2016/1</td>
                <td>Aprovado </td>
                <td>Disciplina extra-curricular</td>
            </tr>
            <tr>
                <td> Atividades em Rede 6</td>
                <td>0</td>
                <td>Freq.</td>
                <td>2016/2</td>
                <td>Aprovado </td>
                <td>Disciplina extra-curricular</td>
            </tr>
        </table>
    </div>
</div>
