@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3>Grade Academica</h3>
    </div>
    <div>

        <table  class="table">

            <tbody>
                <tr>
                    <td> <br>Aluno:<br> </td>
                    <td> Escaminosfleures da Silva Pinto</td>
                    <td>Grade: 20132</td>
                    <td></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Curso:</td>
                    <td> Sistemas de Informação (Noturno Mamoré)</td>
                    <td>Turma: 2542</td>
                    <td>2017/1</td>
                    <td>Cursando</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>Currículo</td>
                    <td>Carga Horária</td>
                    <td>Nota Final</td>
                    <td>Período Letivo</td>
                    <td>
                        Situação
                        Final
                    </td>
                    <td>Obs.</td>
                </tr>
                <tr>
                    <td> DISCIPLINA 1</td>
                    <td>CARGA HORA</td>
                    <td>NOTA</td>
                    <td>ANO/PERIODO</td>
                    <td>SITUAÇAO  </td>
                    <td></td>
                </tr>
                <tr>
                    <td> DISCIPLINA 2</td>
                    <td>CARGA HORA</td>
                    <td>NOTA</td>
                    <td>ANO/PERIODO</td>
                    <td>SITUAÇAO  </td>
                    <td></td>
                </tr>
                <tr>
                    <td>DISCIPLINA 3</td>
                    <td>CARGA HORA</td>
                    <td>NOTA</td>
                    <td>ANO/PERIODO</td>
                    <td>SITUAÇAO  </td>
                    <td></td>
                </tr>



            </tbody>
        </table>

    </div>
</div>
