@{ 
    Layout = null;
}

<table cellspacing="0" cellpadding="0" border="0" align="center" id="infoAlunos">
    <tbody>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" id="infoAlunos">
                    <tbody>
                        <tr>
                            <td id="cbaluno"> Aluno:<br> </td>
                            <td id="cbaluno"> <b>NUMERO DO ALUNO - Nome Completo do Aluno</b></td>
                            <td id="cbaluno">Grade: 20132</td>
                            <td id="cbaluno"></td>
                            <td id="cbaluno">&nbsp;</td>
                        </tr>
                        <tr>
                            <td id="cbaluno">Curso:</td>
                            <td id="cbaluno">NUMERO DO CURSO - Sistemas de Informação (Noturno Mamoré)</td>
                            <td id="cbaluno">Turma: NUMERO DA TURMA</td>
                            <td id="cbaluno">  SEMESTRE CURSANDO</td>
                            <td id="cbaluno">Cursando</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="disciplina" id="notasEfaltas">
                    <tbody>
                        <tr bgcolor="#CFF5A8">
                            <td width="320" id="cbdisciplina">Currículo</td>
                            <td align="center" width="50" id="cbdisciplina">Carga Horária</td>
                            <td align="center" width="50" id="cbdisciplina">Nota Final</td>
                            <td align="center" width="50" id="cbdisciplina">Período Letivo</td>
                            <td align="center" width="80" id="cbdisciplina">
                                Situação
                                Final
                            </td>
                            <td align="center" width="50" id="cbdisciplina">Obs.</td>
                        </tr>
                        <tr>
                            <td id="cbaluno2"> DISCIPLINA 1</td>
                            <td align="center" id="cbaluno2">CARGA HORA</td>
                            <td align="center" id="cbaluno2">NOTA</td>
                            <td align="center" id="cbaluno2">ANO/PERIODO</td>
                            <td align="center" id="cbaluno2">SITUAÇAO  </td>
                            <td align="center" id="cbaluno2"></td>
                        </tr>
                        <tr>
                            <td id="cbaluno2"> DISCIPLINA 2</td>
                            <td align="center" id="cbaluno2">CARGA HORA</td>
                            <td align="center" id="cbaluno2">NOTA</td>
                            <td align="center" id="cbaluno2">ANO/PERIODO</td>
                            <td align="center" id="cbaluno2">SITUAÇAO  </td>
                            <td align="center" id="cbaluno2"></td>
                        </tr>
                        <tr>
                            <td id="cbaluno2"> DISCIPLINA 3</td>
                            <td align="center" id="cbaluno2">CARGA HORA</td>
                            <td align="center" id="cbaluno2">NOTA</td>
                            <td align="center" id="cbaluno2">ANO/PERIODO</td>
                            <td align="center" id="cbaluno2">SITUAÇAO  </td>
                            <td align="center" id="cbaluno2"></td>
                        </tr>



                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td><strong>Observação:</strong> O aluno ainda não completou a C.H. das atividades complementares. Lançadas: 0 | Exigidas: 240.</td>
        </tr>

        <tr>
            <td id="cbatencao">
                <strong>Atenção:</strong> Quando o aluno cursa
                uma disciplina equivalente à sua grade, mostra-se primeiro o nome
                da disciplina cursada e entre parênteses o nome da disciplina da grade
                curricular.
            </td>
        </tr>
    </tbody>
</table>