@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3>Grade Academica</h3>
    </div>
    <div>

        <table  class="table">

            <tbody>
                <tr>
                    <td>Aluno:</td>
                    <td>Escaminosfleures da Silva Pinto</td>
                    <td>Grade:</td>
                    <td>2017/1</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Curso:</td>
                    <td>Sistemas de Informação (Noturno Mamoré)</td>
                    <td>Turma:</td>
                    <td>2353</td>
                    <td>Periodo:</td>
                    <td>2017/1</td>
                    <td>Situação:</td>
                    <td>Cursando</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Disciplina</td>
                    <td>Carga Horária</td>
                    <td>Nota Final</td>
                    <td>Período Letivo</td>
                    <td>Situação Final</td>
                    <td>Obs.</td>
                    
                </tr>
                <tr>
                    <td>Ética,Política e Sociedade</td>
                    <td>60</td>
                    <td>10</td>
                    <td>2017/1</td>
                    <td>Cursando</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tópicos Avançados em Informática I</td>
                    <td>60</td>
                    <td>10</td>
                    <td>2017/1</td>
                    <td>Cursando</td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td>Engenharia de Software</td>
                    <td>60</td>
                    <td>10</td>
                    <td>2017/1</td>
                    <td>Cursando</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Estágio Supervisionado II</td>
                    <td>60</td>
                    <td>10</td>
                    <td>2017/1</td>
                    <td>Cursando</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Trabalho de Graduação I</td>
                    <td>60</td>
                    <td>10</td>
                    <td>2017/1</td>
                    <td>Cursando</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Gestão de TI</td>
                    <td>60</td>
                    <td>10</td>
                    <td>2017/1</td>
                    <td>Cursando</td>
                    <td></td>

                </tr>



            </tbody>
        </table>

    </div>
</div>
