@{
    Layout = null;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Tópicos Avançados em Informática I</h4>
        </div>
        <div class="modal-body">
            <blockquote class="">
                <div class="row">
                    <div class="col-md-3">
                        <span class=" fa fa-2x fa-tag"></span>
                        <h4 class="text-center">
                            <b>Professor</b>
                        </h4>
                    </div>
                    <div class="col-md-9 text-center">

                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle" width="60">
                        <br />
                        <a href="mailto:edilson.vasconcelos@infouniron.com">edilson.vasconcelos@infouniron.com</a>
                    </div>
                </div>
            </blockquote>
            <br />
            <blockquote class="">
                <div class="row">
                    <div class="col-md-3">
                        <span class=" fa fa-2x fa-tag"></span>
                        <h4 class="text-center">
                            <b>Notas</b>
                        </h4>
                    </div>
                    <div class="col-md-9 text-center">
                        <div class="col-md-6">
                            <p class="well">N. Parcial (Peso 2)</p>
                            <span class="badge alert-success">10</span>
                        </div>
                        <div class="col-md-6">
                            <p class="well">N. Bimestral (Peso 8)</p>
                            <span class="badge alert-warning">5,5</span>
                        </div>
                    </div>
                </div>
            </blockquote>
            <br />
            <table class="table table-hover table-striped">
                <tr>
                    <td>
                        <span class=" fa fa-2x fa-tag"></span>
                    </td>
                    <td>
                        <h4>
                            <b>Notas</b>
                        </h4>
                    </td>
                    <td class="alert alert-success">
                        <h4>
                            <b>10</b>
                        </h4>
                    </td>
                    <td class="alert alert-warning">
                        <h4>
                            <b>5,5</b>
                        </h4>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->