@{
    Layout = null;
}

<div class="panel panel-default">

    <div class="panel-heading text-center">
        <h3>Quadro de horário - Período letivo 2017/1</h3>
    </div>

    <div>


        <table class="table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <td>Segunda</td>
                    <td>Terça</td>
                    <td>Quarta</td>
                    <td>Quinta</td>
                    <td>Sexta</td>
                    <td>Sábado</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>19:00 às 20:30</td>
                    <td>
                        Interface Homem-Computador <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Gestão de TI <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Trabalho de Graduação I <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Estágio Supervisionado II <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Engenharia de Software <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="7">Intervalo</td>
                </tr>
                <tr>
                    <td>20:45 às 22:15</td>
                    <td>
                        Interface Homem-Computador <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Gestão de TI <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Trabalho de Graduação I <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Estágio Supervisionado II <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Engenharia de Software <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>