@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading text-center"><h3>Notas e Faltas</h3></div>
    <div class="panel-body">

        <table class="table table-condensed table-responsive table-striped" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>1B</th>
                    <th>2B</th>
                    <th>Média</th>
                    <th>Exame</th>
                    <th>M. Final</th>
                    <th>Faltas</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ética,Política e Sociedade</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>10</td>
                <td>10%</td>
                <td>Aprovado</td>
            </tr>
            <tr>
                <td>Tópicos Avançados em Informática I</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>10</td>
                <td>10%</td>
                <td>Aprovado</td>
            </tr>
            <tr>
                <td>Engenharia de Software</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>10</td>
                <td>10%</td>
                <td>Aprovado</td>
            </tr>
            <tr>
                <td>Estágio Supervisionado II</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>10</td>
                <td>10%</td>
                <td>Aprovado</td>
            </tr>
            <tr>
                <td>Trabalho de Graduação I</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>10</td>
                <td>10%</td>
                <td>Aprovado</td>
            </tr>
            <tr>
                <td>Gestão de TI</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>10</td>
                <td>10%</td>
                <td>Aprovado</td>
            </tr>
            <tr>
                <td>Interface Homem-Computador</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>10</td>
                <td>10%</td>
                <td>Aprovado</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
