@{
    Layout = null;
}

<div class="panel panel-default">

    <div class="panel-heading text-center">
        <h3>Quadro de horário - Período letivo 2017/1</h3>
    </div>

    <div>


        <table style="border-collapse: collapse; width:100% " class="table table-condensed table-responsive table-striped">
            <thead align="center" style="font-weight: bold;">
                <tr>
                    <td width="5%"></td>
                    <td width="10%">Segunda</td>
                    <td width="10%">Terça</td>
                    <td width="10%">Quarta</td>
                    <td width="10%">Quinta</td>
                    <td width="10%">Sexta</td>
                    <td width="10%">Sábado</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td style="vertical-align:middle">
                        19:00
                        <br>
                        às
                        <br>
                        20:30
                    </td>
                    <td>
                        Interface Homem-Computador <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Gestão de TI <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Trabalho de Graduação I <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Estágio Supervisionado II <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Engenharia de Software <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">Intervalo</td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">20:45 <br>às<br> 22:15</td>
                    <td>
                        Interface Homem-Computador <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Gestão de TI <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Trabalho de Graduação I <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Estágio Supervisionado II <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td>
                        Engenharia de Software <br>Campus 1 <br>Bloco Bl<br>Sala 1
                    </td>
                    <td></td>
                </tr>

            </tbody>
        </table>

    </div>
</div>