
@{
    ViewBag.Title = "RegistrationStatement";
}

@using (Html.BeginForm("ConcluirRegistro", "Secretary", FormMethod.Post))
{
    <fieldset>
        <legend>Solicitação da Declaração de Matrícula</legend>
        <div class="form-group">
            <p>Prezado Aluno, a impressão desse documento não terá nenhum custo.</p>
            <div class="col-md-6">
                <label class="radio-inline"><input type="radio" name="optradio">Aceito os termos expressos acima.</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="btnSalvar"></label>
            <div class="col-md-4">
                <button id="btnSalvar" name="btnSalvar" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </fieldset>
}
   



