
@{
    ViewBag.Title = "RegistrationStatement";
    <style>
        .row {
            margin-top: 40px;
            padding: 0 10px;
        }

        .clickable {
            cursor: pointer;
        }

        .panel-heading div {
            margin-top: -18px;
            font-size: 15px;
        }

            .panel-heading div span {
                margin-left: 5px;
            }
    </style>
}
<div class="panel panel-default">
    <div class="panel-heading text-center"><h3>Solicitação de Documentos</h3></div>

    @using (Ajax.BeginForm("RequestsTable", "Secretary", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "SolicitouDocumentosOk", OnFailure = "SolicitouDocumentosFalhou", UpdateTargetId = "requisicaoMobile", InsertionMode = InsertionMode.Replace }))
    {
        <p class="text-center">Prezado Aluno, a impressão desse documento não terá nenhum custo.</p>
        <div class="collapse" id="termos">
            <p class="well" style="text-align: justify">
                Caros amigos, a execução dos pontos do programa prepara-nos para enfrentar situações atípicas decorrentes do impacto na agilidade decisória. Neste sentido, o fenômeno da Internet agrega valor ao estabelecimento das diversas correntes de pensamento. O empenho em analisar a percepção das dificuldades talvez venha a ressaltar a relatividade do sistema de participação geral. O incentivo ao avanço tecnológico, assim como a constante divulgação das informações obstaculiza a apreciação da importância de alternativas às soluções ortodoxas.

                No entanto, não podemos esquecer que o acompanhamento das preferências de consumo estende o alcance e a importância das novas proposições. A prática cotidiana prova que o consenso sobre a necessidade de qualificação garante a contribuição de um grupo importante na determinação dos procedimentos normalmente adotados. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que o comprometimento entre as equipes oferece uma interessante oportunidade para verificação do fluxo de informações. As experiências acumuladas demonstram que a crescente influência da mídia desafia a capacidade de equalização das condições inegavelmente apropriadas.

                Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade facilita a criação das formas de ação. Não obstante, o início da atividade geral de formação de atitudes faz parte de um processo de gerenciamento do retorno esperado a longo prazo. Por conseguinte, o desafiador cenário globalizado pode nos levar a considerar a reestruturação dos paradigmas corporativos. Do mesmo modo, a revolução dos costumes representa uma abertura para a melhoria do sistema de formação de quadros que corresponde às necessidades.

                O que temos que ter sempre em mente é que a estrutura atual da organização acarreta um processo de reformulação e modernização do processo de comunicação como um todo. Assim mesmo, a competitividade nas transações comerciais deve passar por modificações independentemente das direções preferenciais no sentido do progresso. Todas estas questões, devidamente ponderadas, levantam dúvidas sobre se o julgamento imparcial das eventualidades assume importantes posições no estabelecimento do orçamento setorial. O cuidado em identificar pontos críticos na consolidação das estruturas maximiza as possibilidades por conta dos níveis de motivação departamental. Desta maneira, o aumento do diálogo entre os diferentes setores produtivos ainda não demonstrou convincentemente que vai participar na mudança da gestão inovadora da qual fazemos parte.
            </p>
        </div>
        <div class="container">
            <div class="form-group">
                <br />
                <br/>
                <label class="radio-inline">
                    <input type="radio" id="optradio" required="required"/>Aceito os termos expressos acima
                </label>
                <a class="btn btn-default" role="button" data-toggle="collapse" href="#termos" aria-expanded="false" aria-controls="termos">Mostrar Termo..</a>
            </div>
        </div>
        <table class="table table-hover" id="dev-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição Documento</th>
                    <th>Validade</th>
                    <th>Solicitar</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>Atestado de Desistência</td>
                    <td>3 Meses</td>
                    <td><button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i></button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Atestado de Frequência</td>
                    <td>2 Meses</td>
                    <td><button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i></button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Atestado de Trancado</td>
                    <td>6 Meses</td>
                    <td><button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i></button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Atestado de Vínculo</td>
                    <td>6 Meses</td>
                    <td><button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i></button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Declaração de Conclusão</td>
                    <td>6 Meses</td>
                    <td><button class="btn btn-primary" type="button"><i class="fa fa-sign-in"></i></button></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Declaração de Matricula</td>
                    <td>3 Meses</td>
                    <td><button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i></button></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Histórico Escolar</td>
                    <td>6 Meses</td>
                    <td><button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i></button></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Solicitação de Tranferência Interna</td>
                    <td>2 Meses</td>
                    <td><button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i></button></td>
                </tr>
            </tbody>
        </table>
    }
</div>

<script>
    (function () {
        'use strict';
        var $ = jQuery;
        $.fn.extend({
            filterTable: function () {
                return this.each(function () {
                    $(this).on('keyup', function (e) {
                        $('.filterTable_no_results').remove();
                        var $this = $(this),
                            search = $this.val().toLowerCase(),
                            target = $this.attr('data-filters'),
                            $target = $(target),
                            $rows = $target.find('tbody tr');

                        if (search == '') {
                            $rows.show();
                        } else {
                            $rows.each(function () {
                                var $this = $(this);
                                $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
                            })
                            if ($target.find('tbody tr:visible').size() === 0) {
                                var col_count = $target.find('tr').first().find('td').size();
                                var no_results = $('<tr class="filterTable_no_results"><td colspan="' +
                                    col_count +
                                    '">No results found</td></tr>');
                                $target.find('tbody').append(no_results);
                            }
                        }
                    });
                });
            }
        });
        $('[data-action="filter"]').filterTable();
    })(jQuery);

    $(function () {
        // attach table filter plugin to inputs
        $('[data-action="filter"]').filterTable();

        $('.container').on('click',
            '.panel-heading span.filter',
            function (e) {
                var $this = $(this),
                    $panel = $this.parents('.panel');

                $panel.find('.panel-body').slideToggle();
                if ($this.css('display') != 'none') {
                    $panel.find('.panel-body input').focus();
                }
            });
    });
</script>




