
@{
    ViewBag.Title = "RequestsTable";
}

<legend>Quadro de Solicitações</legend>

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Serviço</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>17/05/2017</td>
                    <td>Atestado de Matrícula</td>
                    <td>Concluído</td>
                </tr>
                <tr>
                    <td>15/06/2017</td>
                    <td>Atestado de Matrícula</td>
                    <td>Concluído</td>
                </tr>
                <tr>
                    <td>15/08/2017</td>
                    <td>Histórico Escolar</td>
                    <td>Concluído</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label class="col-md-4 control-label" for="btnBusca"></label>
            <div class="col-md-4">
                <button id="btnBusca" name="btnBusca" class="btn btn-default">Voltar</button>
            </div>
        </div>
    </div>
</div>

