@{
    Layout = null;
}

<div class="visible-lg visible-md">
    <div class="" role="tabpanel">
        <div class="card__list">
            <div class="card__item card__item--blue">
                <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                    <li role="presentation" class="">

                        <a id="btnLibrary" href="#" aria-controls="biblioteca" role="tab" data-toggle="tab" onclick="$('#formularioBiblioteca').submit()">
                            <i class="img-circle fa fa-book fa-4x"></i>
                        </a>
                        <center><span class="badge alert-info">BIBLIOTECA</span></center>

                        @using (Ajax.BeginForm("BookSearch", "Library", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "BuscarBibliotecaItemOk", OnFailure = "BuscarBibliotecaItemFalhou", UpdateTargetId = "requisicao", InsertionMode = InsertionMode.Replace }, new { id = "formularioBiblioteca" })) { }
                    </li>

                    <li role="presentation" class="">
                        <a href="#financeiro" aria-controls="financeiro" role="tab" data-toggle="tab">
                            <i class="img-circle fa fa-handshake-o fa-4x"></i>
                        </a>
                        <center><span class="badge alert-info">SAA</span></center>
                    </li>

                    <li role="presentation" class="">
                        <a href="#aluno" aria-controls="aluno" role="tab" data-toggle="tab">
                            <i class="img-circle fa fa-mortar-board fa-4x"></i>
                        </a>
                        <center><span class="badge alert-info">ACADÊMICO</span></center>
                    </li>
                    
                    <li role="presentation" class="">
                        <a href="@Url.Action("Login","Account")">
                            <i class="img-circle fa fa-power-off fa-4x"></i>
                        </a>
                        <center><span class="badge alert-info">LogOut</span></center>
                    </li>
                </ul>
                <!-- Nav tabs -->
                <hr />
                <!-- Tab panes -->
                <div class="container">
                    <div class="tab-content" id="tabs-collapse">

                        <div role="tabpanel" class="tab-pane fade" id="biblioteca">
                            <div id="buscaBiblioteca">
                                <div class="btn-group-lg text-center">

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="financeiro">
                            <div id="buscaSecretaria">
                                <div class="btn-group-lg text-center">
                                    <ul class="nav nav-justified" id="nav-tabs">
                                        <li>
                                            <a href="#" onclick="$('#formularioDocumentoPedido').submit();">
                                                <i class="fa fa-folder-open fa-4x"></i>
                                            </a>
                                            <center><span class="badge alert-danger">Solicitação de Documento</span></center>
                                            @using (Ajax.BeginForm("RegistrationStatement", "Secretary", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "BuscarRegistrosDocumentosItemOk", OnFailure = "BuscarRegistrosDocumentosItemFalhou", UpdateTargetId = "requisicao", InsertionMode = InsertionMode.Replace }, new { id = "formularioDocumentoPedido" }))
                                            {
                                            }
                                        </li>
                                        <li>
                                            <a href="#" onclick="$('#formularioDocumentoSolicitado').submit();">
                                                <i class="fa fa-pencil fa-4x"></i>
                                            </a>
                                            <center><span class="badge alert-danger">Quadro de Solicitações</span></center>
                                            @using (Ajax.BeginForm("RequestsTable", "Secretary", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "TrazerDocumentosSolicitadosItemOk", OnFailure = "TrazerDocumentosSolicitadosItemFalhou", UpdateTargetId = "requisicao", InsertionMode = InsertionMode.Replace }, new { id = "formularioDocumentoSolicitado" }))
                                            {
                                            }
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="aluno">
                            <div id="buscaInfoAluno">
                                <div class="btn-group-lg text-center">
                                    <ul class="nav nav-justified" id="nav-tabs">
                                        <li>
                                            <a href="#" onclick="$('#formularioQuadroDeHorarios').submit();">
                                                <i class="fa fa-folder-open fa-4x"></i>
                                            </a>
                                            <center><span class="badge alert-danger">Quadro de Horários</span></center>
                                            @using (Ajax.BeginForm("RetornarQuadroDeHorarios", "InformacoesAcademicas", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "QuadroDeHorariosItemOk", OnFailure = "QuadroDeHorariosItemFalhou", UpdateTargetId = "requisicao", InsertionMode = InsertionMode.Replace }, new { id = "formularioQuadroDeHorarios" }))
                                            {
                                            }
                                        </li>
                                        <li>
                                            <a href="#" onclick="$('#formularioGradeAcademica').submit();">
                                                <i class="fa fa-pencil fa-4x"></i>
                                            </a>
                                            <center><span class="badge alert-danger">Grade Acadêmica</span></center>
                                            @using (Ajax.BeginForm("RetornarGradeAcademica", "InformacoesAcademicas", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "GradeAcademicaItemOk", OnFailure = "GradeAcademicaItemFalhou", UpdateTargetId = "requisicao", InsertionMode = InsertionMode.Replace }, new { id = "formularioGradeAcademica" }))
                                            {
                                            }
                                        </li>
                                        <li>
                                            <a href="#" onclick="$('#formularioNotasEFaltas').submit();">
                                                <i class="fa fa-pencil fa-4x"></i>
                                            </a>
                                            <center><span class="badge alert-danger">Notas e Faltas</span></center>
                                            @using (Ajax.BeginForm("RetornarQuadroDeNotasEFaltas", "InformacoesAcademicas", null, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "NotasEFaltasItemOk", OnFailure = "NotasEFaltasItemFalhou", UpdateTargetId = "requisicao", InsertionMode = InsertionMode.Replace }, new { id = "formularioNotasEFaltas" }))
                                            {
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 hidden-xs hidden-sm">
    <div id="resultadoRequisicao">
        <div class="card__list">
            <div class="card__item card__item--orange">
                <div id="requisicao">

                </div>
            </div>
        </div>
    </div>
</div>
