@{
    ViewBag.Title = "Pagina Inicial";
}
<div class="panel panel-body">
    <div class="col-md-4 col-sm-6">
        @Html.Partial("_InformacaoDoUsuario")
    </div>

    <div class="col-md-8 col-sm-6">
        @Html.Partial("_TelaPrincipal")
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnBuscaSimple").on("click", function () {
                $.get('@Url.Action("QuickSearch","Library")', function(data) {
                    $("#buscaBiblioteca").empty();
                    $("#buscaBiblioteca").html(data);
                });
            });

            $("#btnBuscaDetalhada").on("click", function () {
                $.get('@Url.Action("DetailedSearch","Library")', function (data) {
                    $("#buscaBiblioteca").empty();
                    $("#buscaBiblioteca").html(data);
                });
            });
        });
    </script>

}
